<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 京ICP备15063164号-1
    	</div>
    </div>
  </div>
</footer>
